@charset "UTF-8";

body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #729fcf;
}

.tela {
	text-align: center;
	padding: 10%;
}

h3 {
	color: #2e3436;
	font-size: 40px;
}

.cdu {
	position: absolute;
	left: 450px;
}

.cdp {
	position: absolute;
	right: 450px;
}